# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
cpp_concepts/Paremeter Passing Methods/parameter_passing_methods
cpp_concepts/Paremeter Passing Methods/ptr_vs_ref
cpp_concepts/Structure as Parameters/structure_as_parameters
cpp_concepts/Structures and Functions/structures_and_functions
